.App {
  text-align: center;
}

.movies-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#movies-page-title {
  font-family: 'Bungee Shade', cursive;
  font-size: 70px;
}

.ind-movie-title {
  font-family: 'Lilita One', cursive;
  font-size: 20px;
}

a {
  text-decoration: none;
}
